.home-projects-body {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: fit-content;
}

.home-projects-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.home-projects-layout {
    margin-top: 1rem;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
}

.ind-project-body {
    width: 10rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(219, 219, 219);
    background-color: rgb(219, 219, 219);
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
}

.ind-project-img-container {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.ind-project-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ind-img {
    width: 100%;
}

.ind-project-name {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.ind-project-name p {
    margin-left: 1rem;
}