.home-body {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    position: relative;
    margin-top: 4rem;
    gap: 0.5rem
}

.home-upper-body {
    position: relative;
    width: 100%;
    max-width: 800px;
}

.profile-pic-body {
    position: absolute;
    width: 10rem;
    height: 10rem;
    background-color: aqua;
    right: 2rem;
    top: 2rem;
    border-radius: 100%;
}


.home-title-text {
    margin-top: 2rem;
    width: 14rem;
    text-wrap: wrap;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.home-main-text {
    width: 55%;
    font-size: 1.1rem;
    font-weight: 400;
}

.home-sub-text {
    width: 20rem;
    width: 70%;
    font-size: 0.9rem;
    font-weight: 300;
}

.home-projects-button {
    width: 8rem;
    height: 2rem;
    border: 1px solid transparent;
    background-color: rgb(40, 122, 230);
    color: white;
    border-radius: 0.3rem;
    margin-top: 1rem;
}

.about-me-body {
    width: 90%;
    height: fit-content;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.about-me-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.about-me-main {
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 0.5rem;
}

.about-me-sub {
    font-size: 0.9rem;
    font-weight: 200;
}
