.layout-container {
    width: 100%;
    height: fit-content;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    padding-left: 2rem;
    min-width: 430px;
    gap: 3rem;
}
