.projects-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    padding-left: 2rem;
    min-width: 430px;
    gap: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}

.projects-title {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
}

.back-button {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

.projects-short-description {
    width: 90%;
    font-size: 1rem;
    font-weight: 400;
}

.projects-more-container {
    width: 90%;
    height: fit-content;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 0.5rem;
    display: flex;
    padding-top: 1.5rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1.5rem;
}

.projects-more-image-container {
    width: 90%;
    height: fit-content;
    border-radius: 0.5rem;
    border: 1px solid rgb(219, 219, 219);
    overflow: hidden;
}

.projects-more-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.projects-sub-title {
    font-size: 1.2rem;
    font-weight: 500;
}

.projects-long-description {
    font-size: 1rem;
    font-weight: 400;
}

.projects-takeaways-container {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    font-weight: 600;
    gap: 0.5rem;
}

.projects-tag-body {
    margin-top: 1rem;
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}