.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

:root {
  /* Light mode */
  --bg: #F7F8FA;
  --bg-card: #FFFFFF;
  --bg-sub-card: #e6e6e6;
  --text-sub-card: #4A4D50;
  --text-main: #1A1A1A;
  --text-sub: #5A5A5A;
  --border: #DADDE1;
  --button: #2A7AE4;

  --scroll-track: #F2F3F5;
  --scroll-thumb: #C5C7CA;
  --scroll-thumb-hover: #B1B3B6;

  --anchor: #60a5fa;
}

/* Dark mode */
.dark {
  --bg: #111315;
  --bg-card: #181A1D;
  --bg-sub-card: #2A2D31;
  --text-sub-card: #D4D7DB;
  --text-main: #FFFFFF;
  --text-sub: #A9B0B8;
  --border: #2A2D31;
  --primary: #5CA8FF;
  
  --scroll-track: #1E2023;
  --scroll-thumb: #3A3D41;
  --scroll-thumb-hover: #4B4F54;

  --anchor: #3B82F6;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--scroll-track);
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover);
}