.contact-body {
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 3rem;
    margin-left: 2rem;
} 

.contact-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.contact-main-text {
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

.contacts-body {
    display: flex;
    flex-direction: column;
}

.contact-field-body {
    width: fit-content;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;    
}

.contact-field-icon {
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.contact-field-name {
    transition: transform 0.2s ease, color 0.2s ease;
}

.contact-field-name:hover {
    transform: translateX(4px);
    color: var(--accent)
}

/* .contact-field-body:hover .contact-field-icon {
    transform: scale(1.15);
} */