.home-body {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    position: relative;
    margin-top: 4rem;
    margin-left: 2rem;
}

.message-body {
    position: absolute;
    width: fit-content;
    padding: 0.2rem 1rem 0.2rem 1rem;
    height: 2rem;
    border: 1px solid black;
    border-radius: 1rem;
    top: 1rem;
    right: 11rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    opacity: 0;
    animation: appear 0.5s ease-in forwards;
}

.message-body::after {
    content: "";
    position: absolute;
    bottom: -6px;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 3px solid transparent;
    border-top: 6px solid black;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.home-upper-body {
    position: relative;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

.profile-pic-body {
    position: absolute;
    width: 10rem;
    height: 10rem;
    right: 2rem;
    top: 2rem;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}

.profile-pic-body:hover {
    border: 2px solid #60a5fa;
}

.profile-pic {
    width: 120%;
    border-radius: 100%;
}


.home-title-text {
    margin-top: 2rem;
    width: 14rem;
    text-wrap: wrap;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.home-main-text {
    width: 55%;
    font-size: 1.1rem;
    font-weight: 400;
}

.home-sub-text {
    width: 20rem;
    width: 70%;
    font-size: 0.9rem;
    font-weight: 300;
}

.home-projects-button {
    width: 8rem;
    height: 2rem;
    border: 1px solid transparent;
    background-color: rgb(40, 122, 230);
    color: white;
    border-radius: 0.3rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out
}

.home-projects-button:hover {
    background-color: rgb(65, 145, 255);
}

.about-me-body {
    width: 90%;
    height: fit-content;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.about-me-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.about-me-main {
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 0.5rem;
}

.about-me-sub {
    font-size: 0.9rem;
    font-weight: 200;
}
