.layout-container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    font-family: 'Poppins', sans-serif;
    min-width: 430px;
    gap: 3rem;
}

body {
    color: var(--text-main)
}

/* Dark mode themes */
.layout-container.dark {
    background-color: var(--bg);
    color: var(--text-main);
}