.navbar-body {
    position: fixed;
    width: 100%;
    height: 4rem;
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    z-index: 999;
    background: var(--gradient-nav);
    border-bottom: 1px solid var(--border);
    left: 0;
    top: 0;
    align-items: center;
}

.navbar-home, .navbar-selections {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-home {
    margin-left: 1rem;
    cursor: pointer;
    height: fit-content;
}

.navbar-selections {
    gap: 1rem;
    width: fit-content;
    margin-right: 1rem;
}

.navbar-selects {
    width: fit-content;
    font-size: 0.8rem;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Dark mode toggle */

.toggle-container {
    padding: 5px;
    border: none;
    border-radius: 2rem;
    background-color: var(--toggle-bg);
    cursor: pointer;
    width: 3.2rem;
    position: relative;
}

.toggle-handle {
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--toggle-handle);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: var(--toggle-shadow)
}
 