
.projects-container {
    width: 100%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    min-width: 430px;
    gap: 1rem;
    background-color: #F7F8FA;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
}
.projects-upper-body {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: calc(1400px + 4rem);
}

.projects-title {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
}

.back-button {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

.projects-short-description {
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
}

.projects-more-container {
    width: 90%;
    height: fit-content;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 0.5rem;
    display: flex;
    padding-top: 1.5rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;
    background-color: #FFFFFF;
}

.projects-more-other {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projects-more-image-container {
    width: 90%;
    height: fit-content;
}


/* Larger Devices */
@media (min-width: 900px) {
    .projects-container {

    }

    .projects-more-container {
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
        max-width: calc(1400px + 4rem);
    }
  
    .projects-more-image-container {
        width: 60%;
        max-width: 700px;
        padding-left: 2rem;
    }
  
    .projects-more-other {
        width: 40%;
        max-width: 700px;
    }
  }


.projects-more-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 0.5rem;
    overflow: hidden;
}


.projects-sub-title {
    font-size: 1.2rem;
    font-weight: 500;
}

.projects-long-description {
    font-size: 1rem;
    font-weight: 400;
}

.projects-takeaways-container {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    font-weight: 500;
    gap: 0.5rem;
}

.projects-tag-body {
    margin-top: 0.5rem;
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}