.timeline-outer-body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    min-width: 430px;
    gap: 1rem;
    background-color: var(--bg);
    color: var(--text-main);
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
}

.timeline-upper-body {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-title {
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
}


.timeline-main-text{
    width: 100%;
}

/* Vertical for Mobile, Horizontal for Desktop */

.timeline-graph-parent {
    width: 90%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
}

.timeline-line-parent {
    position: absolute;
    height: 100%;
    width: 30%;
    max-width: 150px;
    display: flex;
    justify-content: center;
}

.timeline-line {
    width: 10px;
    height: 100%;
    background-color: var(--bg-sub-card);
    min-height: 100vh;
}

.segment-body {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.segment-left {
    width: 30%;
    max-width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.segment-date {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    background-color: var(--bg-sub-card);
    color: var(--text-sub-card);
    z-index: 90;
}

.segment-right {
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.segment-title {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;

}

.segment-description {
    width: 100%;
    font-weight: 400;
    overflow: hidden;
    transition: all 0.5s ease-in-out
}

/* Larger Devices */
@media (min-width: 900px) {
    .timeline-graph-parent {
        width: 60%;
    }
}