.timeline-outer-body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    min-width: 430px;
    gap: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
}

.timeline-upper-body {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-title {
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
}


.timeline-main-text{
    width: 100%;
}

/* Vertical for Mobile, Horizontal for Desktop */

.timeline-graph {

}